.st2{
  width:30%;
  float:left;
  padding:20px;
  border-right:4px solid green;
}

.v1{
  width:30%;
  float:left;
  padding:20px;
  border-right:4px solid green;
}

.mine1{
  width:30%;
  float:left;
  padding:20px;
}